@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.StockFinancialReports.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HomeOfPandaEyes.StockLearning.Default.StockFinancialReportsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>